<section class="ui raised segment">
    <div class="ui grid">


            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Submitted By</th>
                </tr>
                </thead>
                <tbody>
                {{#each pois}}
                    <tr>
                        <td> {{attractionType}} </td>
                        <td> {{attractionName}} </td>
                        <td> {{comment}} </td>
                        <td> {{latitude}} </td>
                        <td> {{longitude}} </td>
                        <td> {{poi.firstName}} {{poi.lastName}} </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

    </div>
</section>